.projects{
    margin-top: 300px;
    box-sizing: border-box;
    padding-top: 60px;
    z-index: 0;

    .title {
        color: var(--cornflower-blue);
        margin: 0;
        font-size: 32px;
        text-decoration: none;
    }

    .information{
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        gap: 40px;

        .project{
            width: 90%;
            display: grid;
            grid-template-columns: calc(100% - 400px)  400px;
            border-radius: 0 20px 20px 0;
            background-color: var(--new-color);
            cursor: pointer;

            .photo{
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                border-radius: 0 20px 20px 0;
            }

            .photo.nike{
                background-image: url("/public/photos/projects/nike.gif");
            }

            .photo.schedule{
                background-image: url("/public/photos/projects/schedule.jpg");
                background-position: left;
            }

            .photo.picture_shop{
                background-image: url("/public/photos/projects/picture-shop.jpg");
            }

            .project_info{
                display: flex;
                flex-direction: column;
                box-sizing: border-box;
                padding: 10px;
                line-height: 24px;
            }

            .project_title{
                margin: 0;
                font-weight: bold;
                font-size: 18px;
            }

            p{
                color: var(--cornflower-blue);
                margin-top: 5px; 
            }

            .points{
                display: flex;
                flex-direction: column;

                p{
                    padding-left: 16px;
                    position: relative;
                    display: inline-flex;
                }
        
                p::before{
                    content: "";
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: 16px;
                    border-radius: 50%;
                    width: 8px;
                    height: 8px;
                    background-color: var(--cornflower-blue);
                    background-blend-mode: color-dodge;
                    position: absolute;
                    left: 0;
                    top: 50%;
                    transform: translate(0, -50%);
                }
                
            }

            .technologies{
                margin-top: 10px;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-evenly;
                gap: 20px;

                p{
                    padding-left: 32px;
                    position: relative;
                    display: inline-flex;
                }
        
                p::before{
                    content: "";
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: 16px;
                    border-radius: 5px;
                    width: 24px;
                    height: 24px;
                    background-color: var(--cornflower-blue);
                    background-blend-mode: color-dodge;
                    position: absolute;
                    left: 0;
                    top: 50%;
                    transform: translate(0, -50%);
                }

                .ts::before{
                    background-image: url("/public/photos/projects/ts-icon.png");
                }

                .go::before{
                    background-image: url("/public/photos/projects/go-icon.png");
                }

                .react::before{
                    background-image: url("/public/logo192.png");
                }

            }

        }

        .project:nth-child(even){
            margin-left: auto;
            margin-right: 0;
            grid-template-columns: 400px calc(100% - 400px);
            border-radius: 20px 0 0 20px;
            
            .photo{
                grid-row: 1;
                border-radius: 20px 0 0 20px;
            }

            .project_info{
                grid-column: 2;
            }

        }

        .project:hover{
            opacity: 0.9;
        }

        @media (max-width: 1000px) {
            .project{
                width: 100%;
                display: flex;
                flex-direction: column-reverse;
                border-radius: 20px 20px 0 0;
                background-color: var(--new-color);

                .photo{
                    order: 1;
                    border-radius: 20px 20px 0 0;
                    width: 100%;
                    aspect-ratio: 16/9;
                }

            }

            .project:nth-child(even){

                border-radius: 20px 20px 0 0;

                .photo{
                    border-radius: 20px 20px 0 0;
                }
            } 

        }

        @media (max-width: 400px){
            .project .technologies{
                display: grid;
                grid-template-columns: 1fr 1fr;
            }
        }

    }

}